
@import url('../fonts/Roboto/Roboto-Black.ttf');

* {
    margin: 0;
    padding: 0; 
  }

$primary-color: #141a28;
$secondary-color: #51557E;
$third-color: #816797;
$forth-color: #D6D5A8;
$accent-color: #0062bf;
$text-color: #fff;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$icon-width: 36px;
body{
    font-family: 'Roboto', sans-serif;
    background-color: $primary-color;
    color: $text-color;
    font-weight: map-get($font-weights, bold );

    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(../img/bg/Bg1full.webp);
}
.main nav{
    background-color: $primary-color!important;
    
}

.main-wrap .navbar-nav .nav-link{
    color: $text-color;
}


.main nav a .logo{
    width: 200px;
}

.main nav .social-media li a img{
    width: $icon-width;
}
.main nav .right-menu li a img{
    width: $icon-width;
}
.main-wrap nav form button:hover{
    background-color: $accent-color;
}


// nav-menu

  
//   #nav-icon4 {
//     width: 40px;
//     height: 25px;
//     position: relative;
//     // margin: 50px auto;
//     -webkit-transform: rotate(0deg);
//     -moz-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transition: .5s ease-in-out;
//     -moz-transition: .5s ease-in-out;
//     -o-transition: .5s ease-in-out;
//     transition: .5s ease-in-out;
//     cursor: pointer;
//   }
  
// #nav-icon4 span {
//     display: block;
//     position: absolute;
//     height: 5px;
//     width: 100%;
//     background: #d3531a;
//     border-radius: 9px;
//     opacity: 1;
//     left: 0;
//     -webkit-transform: rotate(0deg);
//     -moz-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transition: .25s ease-in-out;
//     -moz-transition: .25s ease-in-out;
//     -o-transition: .25s ease-in-out;
//     transition: .25s ease-in-out;
//   }
  
  
  /* Icon 4 */
  
 
  
  // #nav-icon4 span:nth-child(1) {
  //   top: 11px;
  //   -webkit-transform-origin: left center;
  //   -moz-transform-origin: left center;
  //   -o-transform-origin: left center;
  //   transform-origin: left center;
  // }
  
  // #nav-icon4 span:nth-child(2) {
  //   top: 22px;
  //   -webkit-transform-origin: left center;
  //   -moz-transform-origin: left center;
  //   -o-transform-origin: left center;
  //   transform-origin: left center;
  // }
  
  // #nav-icon4 span:nth-child(3) {
  //   top: 33px;
  //   -webkit-transform-origin: left center;
  //   -moz-transform-origin: left center;
  //   -o-transform-origin: left center;
  //   transform-origin: left center;
  // }
  
  // #nav-icon4.open span:nth-child(1) {
  //   -webkit-transform: rotate(45deg);
  //   -moz-transform: rotate(45deg);
  //   -o-transform: rotate(45deg);
  //   transform: rotate(45deg);
  //   top: 10px;
  //   left: 8px;
  // }
  
  // #nav-icon4.open span:nth-child(2) {
  //   width: 0%;
  //   opacity: 0;
  // }
  
  // #nav-icon4.open span:nth-child(3) {
  //   -webkit-transform: rotate(-45deg);
  //   -moz-transform: rotate(-45deg);
  //   -o-transform: rotate(-45deg);
  //   transform: rotate(-45deg);
  //   top: 39px;
  //   left: 8px;
  // }



  // Modal styel

  
  .modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: $primary-color;}
  .modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
  .modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
  .modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
  .modal-dialog-slideout .modal-content{border: 0; background: $primary-color;}
  .modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {display: block;}
  .modal-dialog-slideout .modal-header{
    border-bottom: none;
  } 
  .modal-dialog-slideout .modal-header h1 {float:right;}
  // .btn-close{
  //   color: $text-color;
  //   background: transparent url(../img/close.png);
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-origin: content-box;
  // }

  .category-title{
    border-bottom: 1px solid $accent-color;
    padding: 8px 0;
  }

  .category-title h5{
    font-family: 'roboto', sans-serif;
    font-weight: 600;
  }

  .offcanvas{
    background-color: #141a28 !important;
  }

  .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
    --bs-offcanvas-width: 720px;
  }